.allies{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    @include media-breakpoint-up(lg) {
        margin-top: 3rem;
        flex-direction: row;
    }
    align-items: center;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */

    filter: grayscale(100%);
    img{
        margin-bottom: 2.5rem;
        max-width: 100%;
    }
    .jkb{
        height: 100px;
    }
}