.arrow-link{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    align-items: center;
    border-bottom: 3px solid $green;
    text-decoration: none;
    font-weight: bold;
    font-size: $font-size-md;
    color: $grey-dark;
    line-height: 1.5;
    // &::after{
    //     margin-left: 1rem;
    //     margin-bottom: 0.375rem;
    //     display: block;
    //     content: ' ';
    //     background-image: url('../img/arrow.svg');
    //     background-size: 16px 16px;
    //     height: 16px;
    //     width: 16px;
    // }
    &:hover{
        color: black;
    }

    img {
        margin-left: 1.25rem;
        margin-bottom: -9px;
        height: 15px;
    }

    &--left{
        display: flex;
        align-self: flex-start;
    }

    &--white{
        color: white;
        border-bottom: 3px solid $grey-dark;
        img {
            margin-left: .75rem;
        }
    }
    
    &--green-white{
        color: white;
        &:hover{
            color: mix(white, $green, 50%);
        }
    }

    &--small{
        font-size: $font-size-sm;
        img{
            margin-left: .5rem;
            margin-bottom: 0;
        }
    }
}