.footer-line{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
        flex-direction: row;
    }

    @include media-breakpoint-up(md) {
        margin-bottom: 1rem;
    }
    p {
        margin-right: .4rem;
    }
    .arrow-link{
        align-self: flex-start;
    }
}