.hero{
    position: relative;
    &__overlay{
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #00383d;
        padding: 1rem;
        margin-bottom: 1rem;
        @include media-breakpoint-up(md) {
            background: #00383d69;
            position: absolute;
        }
        &__logo{
            margin-bottom: .5rem;
        }
        &__text{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: normal;
            font-size: 1.5rem;
            @include media-breakpoint-up(md) {
                font-size: 2rem;
            }
        }
        img {
            height: 150px;
            @include media-breakpoint-up(md) {
                height: 300px;  
            }
        }
    }
}