.jumbotron--home{
	background-color: $green;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow: hidden;
	height: 28rem;

	img{
			height: 100%;
			max-width: 100rem;
			object-fit: cover;
	}

	@include media-breakpoint-up(lg) {
			height: 58rem;
			img{
				width: 100%;
				max-width: 100rem;
				object-fit: cover;
		}
	
	}
}