.mark {
  background-color: $green;
  display: inline;
  white-space: pre-wrap;
  padding: 0 2px;
  box-shadow: -2px 0 0 $green;
  box-sizing: inherit;

  &--lg {
    background-color: $pink;
    padding: 0;

    @include media-breakpoint-up(lg) {
      box-shadow: -8px 0 0 $pink;
    }

    color: white;
  }
}
