

.nav{
    display: flex;
    background-color: $red;
    box-shadow: 6px 7px 20px $red;
    padding: 1rem;
    max-width: 100%;
    margin-bottom: 5rem;
    justify-content: center;
    z-index: 10000;
    position: fixed;
    top: 1rem;
    left: 0;
    padding: .5rem;

    @include media-breakpoint-up(md) {
        left: auto;
        padding: 0.25rem;
        top: 2.5rem;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 5rem;
    }

    a {
        height: 42px;
        border: 2px solid white;
        padding: .5rem;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media-breakpoint-up(md) {
            border: 0;
            padding: 0;
            height: 56px;
        }
    }


    li{        
        color: white;
        text-decoration: none;
        font-size: 1rem;
        @include media-breakpoint-up(md) {

            margin-left: 3rem;
        }
    }
    
    .bg-button{
        background-color: $green-light;
        color:rgb(45, 45, 45);
        padding: 1rem;
        margin-left: 2rem;
        font-size: 1rem;
        font-weight: bolder;
        a {
            font-size: 1rem;
        }
        li {
            padding: 0;
            margin: 0 1rem;
            font-size: 1rem;
            &::marker{
                display: none;
            }
        }
    }
}