.plane{
    margin-bottom: 4rem;
    padding: 1.5rem;
    background-color: #aecbc8;
    h2{
        margin-bottom: 1.5rem;
    }
    a {
         color: darken( #aecbc8, 40%);
    }
    ul {
        li {
            margin-bottom: .75rem;
        }
    }
}