@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "variables";
@import "banner";
@import "table";
@import "nav";
@import "hero";
@import "logo";
@import "plane";
@import "sidebar-right";

.font-weight-bold{
    font-weight: bolder;
}

body{
    
}

p{
    font-size: 1.25rem;
    line-height: 1.5;
}

h4{
    font-size: 1rem;
}

a{
    color: $green-darker;
}

.container-sm{
    max-width: 840px;
}

ul {
    font-size: 1.25rem;
}

.fat-bottom{
    margin-bottom: 5rem;
}

.container-sm{
    margin-bottom: 4rem;
}

.logo{ 
    margin-top: 6rem;
    h1{
        font-size: 4rem;
    }
    @include media-breakpoint-up(md) {
        margin-top: 8rem;
    }
}