---
---

<html lang="NL">
  <head>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Preahvihear&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0;" />
  </head>
  <body>
    {% include nav.html %}
    <div class="container mx-auto mt-40 flex max-w-xl flex-col justify-center">
      <div class="hero">
        <h1 class="mb-5 mt-20 text-center text-4xl md:text-6xl">
          <span class="text-8xl">2026</span>
          <br/> 6-10 augustus
        </h1>
      </div>
    <!-- </div> -->


   <!-- kaartverkoop van start -->
    
    <!-- <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      <div
        class="border-l-4 border-green-500 bg-white p-4 text-green-700"
        role="alert"
      >
        <p class="font-bold">De kaartverkoop is weer van start!</p>
        <p>
          Ga naar <a href="https://winkel.eaumontjardin.fr/wordpress">winkel.eaumontjardin.fr/wordpress</a> om jezelf in te schrijven!
        </p>
      </div>
    </div> -->


    
    </div>
    <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      {% include intro.html %}
    
    <div class="mx-auto mt-5 max-w-6xl">{% include carousel-1.html %}</div>
    <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      {% include cocreatief.html %}

      <div class="container mx-auto mt-5 max-w-5xl">
      {% include carousel-7.html %}
    </div>

    

      <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      {% include programma.html %}

  </div>
    <div class="container mx-auto mt-5 max-w-5xl">
      {% include carousel-4.html %}
    </div>

      <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      {% include wanneer.html %}

       <div class="container mx-auto mt-5 max-w-6xl">
      {% include carousel-3.html %}
    </div>

       <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      {% include waar.html %}
   
    <!-- <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      {% include vervoer.html %}
    </div> -->
   
  
    
    <div class="container mx-auto mt-5 max-w-6xl">
      {% include carousel-5.html %}
    </div>
    <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      {% include eten-drinken.html %}
    </div>
    <div class="container mx-auto mt-5 max-w-5xl">
      {% include carousel-6.html %}
      <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      {% include kosten.html %}
    </div>
     </div>
    <div class="mx-auto max-w-4xl">{% include carousel-2.html %}</div>
    </div>
    <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      {% include overnachten.html %}
    </div>
    
      </div>
    <div class="container mx-auto mt-5 max-w-6xl">
      {% include carousel-8.html %}
    
    </div>
    <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      {% include belangrijk.html %}
    </div>
    <div class="container mx-auto mt-5 max-w-5xl">
      {% include carousel-9.html %}
   <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      {% include nieuwsbrieven-links.html %}
    </div>
    {% include nieuwsbrief-form.html %}
    <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      <h3 class="text-2xl">Nog vragen?</h3>
      
      <p class="mb-0">
        Mail:
        <a href="mailto:eaumontjardin@gmail.com">eaumontjardin@gmail.com</a>
      </p>
      <p class="mt-0">
        <!-- Insta
        <a target="_blank" href="https://www.instagram.com/eau.mont.jardin/"
          >@eaumontjardin
        </a> -->
      </p>
      <p>
        Of via een van de organisatoren (Jip, Floris, Sen, Quincy en Bram).
      </p>
          <div class="container mx-auto mt-5 max-w-5xl">
      {% include carousel-smoelenboek.html %}
    </div>

    </div>
    {% include footer.html %}
  </body>
</html>
