---
---

<html lang="NL">
  <head>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Preahvihear&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0;" />
  </head>
  <body>
    {% include nav.html %}
    <div class="container mx-auto mt-40 flex max-w-xl flex-col justify-center">
      <div class="hero">
        <h1 class="mb-5 mt-20 text-center text-4xl md:text-8xl">
          8, 9, 10 & 11 AUGUSTUS 2025
        </h1>
      </div>
      <!-- <sub class="text-center text-xl">(Jullie zijn het<3)</sub> -->
      <!-- <h2 class="mt-4 text-center text-2xl">8, 9, 10 & 11 augustus 2025</h2> -->
    </div>
    <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      <!-- {% include nieuwsbrief.html %} -->
      <p>
        In een idyllisch dal in Omont, in de Franse Ardennen, tussen bomen en
        bergen, onder wolken en sterren, ligt een prachtige kunsttuin. In dit
        paradijsje, gecreëerd door Hans en Sam, vindt sinds 2022 jaarlijks een
        co-creatief festival plaats: Eau Mont Jardin. We creëren dit weekend
        samen, we koken voor elkaar, wassen samen af, we bedenken ideeën en
        geven het een plek om werkelijkheid te worden. We delen en worden meer.
      </p>
      <p>
        Naast de idyllische tuin, hebben we ook een enorm idyllische website.
        Hierop vind je allerlei informatie over ons evenement, onze visie,
        normen & waarden, praktische informatie en meer. Mocht deze info jou
        toch nog met vragen achterlaten, neem dan contact op met
        <a href="mailto:eaumontjardin@gmail.com ">eaumontjardin@gmail.com </a>of
        stuur een DM naar
        <a href="https://www.instagram.com/eau.mont.jardin/">
          instagram.com/eau.mont.jardin/ </a
        >.
      </p>
    </div>
    <div class="container mx-auto mt-5 max-w-7xl">
      {% include carousel-1.html %}
    </div>
    <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      <a id="cocreatief"><h2 class="pt-20 text-3xl">Co-creatief</h2></a>
      <p>
        Eau Mont Jardin is gebouwd op co-creatie. We creëren het festival met en
        voor elkaar en bouwen zo elk jaar even een kleine community waarin
        iedereen er voor elkaar is. We bieden de ruimte voor iedereen om bij te
        dragen waar die zich prettig bij voelt en stimuleren hierin te
        experimenteren en buiten comfortzones te treden.
      </p>
      <p>Je kunt bijvoorbeeld bijdragen in de vorm van:</p>
      <ul class="mb-5 ml-9 mt-3 list-disc">
        <li>Het organiseren van een workshop, spel of activiteit.</li>
        <li>
          Optreden (op het podium, bij het kampvuur of ergens anders op het
          terrein).
        </li>
        <li>Helpen met het opbouwen, afbouwen en aankleden van het terrein.</li>
        <li>
          Het vervullen van een van de organisatorische of voorbereidende
          rollen.
        </li>
        <li>
          Specifieke rollen op het festival zoals Parkeerbeheer, Kamp Keizer of
          Geluidstechnicus.
        </li>
        <li>
          Je eigen bijdrage op de manier die voor jou prettig is: neem vooral
          initiatief, wees spontaan, werk samen en wees co-creatief.
        </li>
      </ul>
      <p>
        Tijdens het weekend verwachten we van iedereen een stukje
        verantwoordelijkheid bij het helpen koken, afwassen, netjes houden van
        het terrein en andere praktische taken. Of je nu met je band komt spelen
        of voorzitter bent, iedereen draagt diens steentje bij. Dit zorgt er
        niet alleen voor dat het allemaal netjes, schoon en overzichtelijk
        blijft, maar het bevordert ook de sfeer en de interactie.
      </p>
    </div>
    <div class="container mx-auto mt-5 max-w-7xl">
      {% include carousel-2.html %}
    </div>
    <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      <a id="vervoer"><h2 class="pt-20 text-3xl">Vervoer</h2></a>
      <p>
        Door middel van een liftlijst/whatsappgroep stimuleren wij carpoolen
        zodat we onze uitstoot beperken. Daarnaast is het natuurlijk ook gewoon
        veel gezelliger.
      </p>
      <p>
        Daarnaast zijn we voor de komende editie (2024) bezig met het regelen
        van een bus. Waarschijnlijk zal deze bus op vrijdag vanaf Utrecht naar
        Omont rijden en maandag iedereen weer netjes thuis (read: in Utrecht)
        afzetten. Schoolreisje! PS: misschien gaat er ook nog wel wat leuks
        tijdens deze busreis gebeuren, maar niet doorvertellen.
      </p>
    </div>
    <div class="container mx-auto mt-5 max-w-7xl">
      {% include carousel-3.html %}
    </div>
    <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      <a id="programma"><h2 class="pt-20 text-3xl">Programma</h2></a>
      <p>
        Voor ons programma zijn we afhankelijk van jullie creatieve inbreng. Bij
        je inschrijving is er ruimte om jouw creatieve inbreng in te vullen,
        maar je kan natuurlijk ook altijd contact opnemen met iemand van de
        organisatie om je idee te delen.
      </p>
      <p>
        We willen creativiteit, samenwerken, experimenten en creëren stimuleren
        en denken graag mee aan de uitvoering van jouw creatieve inbreng. Ook is
        er tijdens het weekend zelf genoeg ruimte om daar iets te laten ontstaan
        en te presenteren.
      </p>
      <p>
        Waar je zoal aan kunt denken bij het opgeven van jouw creatieve idee:
      </p>
      <ul class="mb-5 ml-9 mt-3 list-disc">
        <li>
          Optreden met je muzikale act (bands/solo/DJ en versterkt/akoestisch)
        </li>
        <li>
          Optreden met een performance (op het podium/terrein/in de omgeving)
        </li>
        <li>het organiseren van een activiteit/workshop</li>
        <li>Het maken of presenteren van een kunstwerk/item</li>
        <li>Alles is mogelijk, dus laat je creativiteit de vrije loop!</li>
      </ul>
      <p>
        Mocht je met een groep willen komen (bijvoorbeeld met je
        band/collectief/act/etc.) dan mag je contact met ons opnemen zodat we
        dit vooraf kunnen bespreken.
      </p>
    </div>
    <div class="container mx-auto mt-5 max-w-5xl">
      {% include carousel-4.html %}
    </div>
    <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      <a id="kosten"><h2 class="pt-20 text-3xl">Kosten</h2></a>
      <p>
        Om de kosten van het festival te dekken vragen we een financiële
        bijdrage van iedereen. Hoewel we voorgaande jaren als organisatie ook
        zelf mee betaalde, hebben we besloten dat de organisatieleden die dit
        jaar meehelpen en de gehele opbouw en afbouw meedoen niet hoeven te
        betalen. Verder betaalt in principe iedereen mee, ook
        artiesten/performers. Mocht dit ooit anders uitvallen dan zullen wij
        hier transparant over zijn en dit duidelijk maken.
      </p>
      <p>
        Al het geld wat wordt verdiend met dit festival gaat terug in de
        organisatie zodat wij investeringen kunnen doen voor komende edities
        (denk bijvoorbeeld aan de legertent/lampjes/keukengerei).
      </p>
      <p>
        In de financiële bijdrage zitten alle kosten die met het festival
        gemoeid zijn:
      </p>
      <ul class="mb-5 ml-9 mt-3 list-disc">
        <li>Ontbijt/Lunch/Diner</li>
        <li>Tussendoortjes/snacks/fruit</li>
        <li>Dranken: koffie/thee/bier/wijn/fris/alcoholvrij</li>
        <li>Facilitaire kosten/stroom</li>
        <li>
          Van de rest betalen wij onder andere het transport van techniek en
          facilitaire middelen en het eten en drinken voor de op-en afbouwcrew.
        </li>
      </ul>
    </div>
    <div class="container mx-auto mt-5 max-w-7xl">
      {% include carousel-5.html %}
    </div>
    <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      <a id="eten-en-drinken"><h2 class="pt-20 text-3xl">Eten & drinken</h2></a>
      <p>
        Wij verzorgen voldoende wijn en bier, drinkwater, thee, koffie en
        frisdranken. Wij zorgen ook voor ontbijt, lunch en diner (lunch vrijdag
        tot en met ontbijt maandag).
      </p>
      <p>
        Het gehele festival is veganistisch. Ook proberen wij de hoeveelheid
        afval zoveel mogelijk te beperken.
      </p>
      <p>
        Belangrijk! Als je andere specifieke wensen hebt door een allergie of
        intolerantie, laat het zo snel mogelijk weten door te mailen naar
        <a href="mailto:eaumontjardin@gmail.com">eaumontjardin@gmail.com</a>.
      </p>
    </div>
    <div class="container mx-auto mt-5 max-w-7xl">
      {% include carousel-9.html %}
    </div>
    <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      <a id="overnachten">
        <h2 class="pt-20 text-3xl">Overnachten</h2>
      </a>
      <p>
        Op het terrein is meer dan genoeg plek voor jouw bus, camper of tentje.
        Geef van tevoren even aan waar je in overnacht, en rij met je auto
        <b>onder begeleiding</b> van een van de campingbazen het terrein op naar
        de campingplekjes.
      </p>
      <p>
        Sanitair is beperkt, maar voldoende. Ook kan er op meerdere plekken op
        het terrein gewoon in de natuur worden geplast, mits er geen
        toiletpapier wordt achtergelaten.
      </p>
      <p>
        Er is geen douche of stromend water, wel kan je heerlijk zwemmen in het
        meertje. Dit meer is het drinkwater van de koeien van de boerse buren,
        en bovendien een belangrijke voedende factor in de flora en fauna van
        het dal. Het is daarom ten strengste verboden om met enige vorm van zeep
        of shampoo of zonnebrand te gaan badderen! Wij zorgen voor een aparte
        plek op het land waar je met biologisch afbreekbare zeep je oksels en
        billen kan wassen;) Washandjes zijn hierbij de tip van de eeuw!
      </p>
    </div>
    <div class="container mx-auto mt-5 max-w-7xl">
      {% include carousel-6.html %}
    </div>
    <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      <a id="waar">
        <h2 class="pt-20 text-3xl">Waar</h2>
      </a>
      <p>
        <b
          >📍 Adres van het festival:
          <a href="9pg@Qbm!XT&9ziYN">Mon Jardin, l'Étang</a></b
        >
      </p>
      <p>
        Bij het meer in het dal van Omont. Omont ligt op ongeveer 4 uur rijden
        van Utrecht en is niet te bereiken met het OV. Er zal (mits er genoeg
        animo is) een bus rijden (hierover later meer informatie). Het
        dichtstbijzijnde treinstation is in Poix-Terron, op 20 minuten rijden.
        Wellicht kan je een pick-up regelen vanaf daar onder alle andere
        bezoekers. Verder moedigen wij carpoolen vanaf een plek in Nederland
        enorm aan! Het is sowieso beter voor onze mooie aarde, en ook nog eens
        voor jullie portemonnees. Plus het is heel gezellig om alvast in de
        stemming te raken!
      </p>
    </div>
    <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      <a id="wanneer">
        <h2 class="pt-20 text-3xl">Wanneer</h2>
      </a>
      <p>
        Het festival vindt plaats op de volgende data: 9, 10, 11 (& 12) augustus
        2024.
      </p>
      <p>
        We beginnen op vrijdagmiddag en de dolle rit eindigt op maandagochtend.
        Aan te raden is om op vrijdag om <b>15:30</b> aanwezig te zijn. Je hebt
        dan voldoende tijd om te acclimatiseren, je tent op te zetten en kennis
        te maken met je buren om hun pomp te kunnen lenen.
      </p>
    </div>
    <div class="container mx-auto mt-5 max-w-7xl">
      {% include carousel-7.html %}
    </div>
    <div class="container mx-auto mt-20 flex max-w-3xl flex-col justify-center">
      <a id="belangrijk">
        <h2 class="pt-20 text-3xl">Belangrijk</h2>
      </a>
      <ul class="mb-5 ml-9 mt-3 list-disc">
        <li>
          Goed om te weten: we verwachten met maximaal 150 mensen op het terrein
          te zijn.
        </li>
        <li>
          Wil je mensen meenemen? Overleg dit even met de organisatie. Neem
          hiervoor (liever eerder dan later) contact op via
          <a href="mailto:eaumontjardin@gmail.com">eaumontjardin@gmail.com</a>.
        </li>
        <li>
          Er is geen pinautomaat in de omgeving, dus het is handig om cash bij
          je te hebben. Zeker als je naar de Hangar wilt gaan (antiek/vintage
          zaak in het dorp, enorme aanrader!). Ook om de artiesten of het
          festival nog een leuke bijdrage te kunnen geven is cash gewenst, want
          internet (=tikkie) werkt ook praktisch niet in het dal.
        </li>
        <li>
          Het telefoonbereik op het terrein is zeer belabberd. Mocht je dingen
          moeten doen op je mobiel, zoals ons bellen voor de route: dit kan
          moeizaam gaan. Boven aan de Grande Rue in Omont zetten wij een
          duidelijk bord neer zodat iedereen ziet waar ze naar beneden moeten:)
        </li>
        <li>
          Het landweggetje naar het terrein toe is lekker ruig, met hobbels en
          kuilen. Als jij een super lage Ferrari rijdt, dan raden we je aan die
          bovenaan te laten staan om schade aan je auto te voorkomen.
        </li>
        <li>
          Op de maandag na al het gedruis willen wij het terrein opruimen/ alles
          afbreken. Alle handjes zijn hiervoor welkom. Je kan je hiervoor
          opgeven in het inschrijfformulier. Ook is de afbouw hartstikke
          gezellig om mee te maken. We zorgen voor eten en nog een lekker
          drankje bij het kampvuur zodat we allen nog eens kunnen nagenieten van
          het afgelopen weekend.
        </li>
        <li>
          Neem net als vroeger op kamp zelf een bord, bestek, mok en een
          kommetje en theedoek mee. Deze worden niet gefaciliteerd.
        </li>
      </ul>
    </div>
    <div class="container mx-auto mt-5 max-w-7xl">
      {% include carousel-8.html %}
    </div>
    {% include nieuwsbrief-form.html %} {% include footer.html %}
  </body>
</html>
