<a id="belangrijk">
  <h2 class="pt-20 text-3xl">Belangrijk</h2>
</a>
<ul class="mb-5 ml-9 mt-3 list-disc">
  <li>
    Omdat de sfeer al magistraal is, is het wat ons betreft niet nodig om
    <i>drugs</i>
    te gebruiken. Ons festival gaat over verbinding, daarom vinden we het ook
    niet fijn als je ergens in het derde-dal-universem rond zweeft terwijl je
    fysiek wel bij ons bent. Tevens is ons terrein behoorlijk afgelegen dus is
    het niet verantwoord in verband met hulpdiensten.
  </li>
  <li>
    Goed om te weten: we verwachten met maximaal 150 mensen op het terrein te
    zijn.
  </li>
  <li>
    Alleen mensen met een ticket zijn welkom (op de locals na). Voor mensen die
    een dagje willen komen is er geen ruimte.
  </li>
  <li>
    Er is weinig tot geen bereik op het festivalterrein. Mocht je dingen moeten
    doen op je mobiel, zoals ons bellen voor de route: dit kan moeizaam gaan.
    Boven aan de Grande Rue in Omont zetten wij een duidelijk bord neer zodat
    iedereen ziet waar ze naar beneden moeten:)
  </li>
  <li>
    Er is geen pinautomaat in de omgeving, dus het is handig om cash bij je te
    hebben. Zeker als je naar de Hangar wilt gaan (antiek/vintage zaak in het
    dorp, enorme aanrader!).
  </li>
  <li>
    Het landweggetje naar het terrein toe is lekker ruig, met hobbels en kuilen.
    Als jij een super lage Ferrari rijdt, dan raden we je aan die bovenaan te
    laten staan om schade aan je auto te voorkomen.
  </li>
  <li>
    Op de maandag na al het gedruis willen wij het terrein opruimen/ alles
    afbreken. Alle handjes zijn hiervoor welkom. Je kan je hiervoor opgeven in
    het inschrijfformulier. Ook is de afbouw hartstikke gezellig (vraag maar aan
    het team van vorig jaar!) om mee te maken. We zorgen voor eten en nog een
    lekker drankje bij het kampvuur zodat we allen nog eens kunnen nagenieten
    van het afgelopen weekend.
  </li>
  <li>Wij zullen laten nog een paklijst delen met de bezoekers.</li>
  <li>
    Vragen? Neem hiervoor contact op via
    <a href="mailto: eaumontjardin@gmail.com"> eaumontjardin@gmail.com</a>.
  </li>
</ul>
