<a id="belangrijk">
  <h2 class="pt-20 text-3xl">Belangrijk</h2>
</a>
<p><b> Nog een paar belangrijke dingen op een rij.</b></p> 

<ul class="mb-5 ml-9 mt-3 list-disc">
 
  <li>
   Omdat de sfeer al magistraal is, is het wat ons betreft niet nodig om harde drugs te gebruiken en in het derde-dal-universem rond te zweven, terwijl je fysiek wel bij ons bent.
  </li>
  <li>
    De tuin is behoorlijk afgelegen, in geval van nood, hulpdiensten zijn misschien wel een uur weg. We zorgen voor nuchtere EHBO'ers die altijd met auto klaar staan. Maar neem eigen verantwoordelijkheid!
  </li>
  <li>
    We verwachten met 150 mensen op het terrein te zijn.
  </li>
  <li>
    Alleen mensen met een ticket zijn welkom. Voor mensen die een dagje willen komen is geen ruimte.
  </li>
  <li>
    Er is weinig tot geen mobiel bereik op het festivalterrein. Mocht je dingen moeten doen op je mobiel, zoals ons bellen voor de route: dit kan moeizaam gaan. Boven aan de Grande Rue in Omont zetten wij een duidelijk bord neer zodat iedereen ziet waar ze naar beneden moeten.
  </li>
  <li>
    Er is geen pinautomaat in de omgeving, dus het is handig om cash bij je te hebben. Zeker als je naar l'Hangar (brocante van onze vriend Johan) wilt gaan.
  </li>
  <li>
     Het landweggetje naar het terrein toe is lekker ruig met hobbels en kuilen. Als jij een super lage Ferrari rijdt, dan raden we je aan die bovenaan te laten staan om schade aan je auto te voorkomen.
  </li>
  <li>Op de maandag na al het gedruis willen wij het terrein opruimen/alles afbreken. Alle handjes zijn hiervoor welkom. Je kan je hiervoor opgeven in het inschrijfformulier. Ook is de afbouw hartstikke gezellig (vraag maar aan het team van vorig jaar!) om mee te maken. 
</li>
  
<li>
    Vragen? Neem hiervoor contact op via
    <a href="mailto: eaumontjardin@gmail.com"> eaumontjardin@gmail.com</a>.
  </li>
</ul>




