<div class="carousel carousel--three">
  <div class="carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/Fruit%20ben.JPG?width=800&height=1000&fit=crop&auto=format"
      alt="Fruit, Ben"
      loading="lazy"
      decoding="async"
    />
    <p>© Ben</p>
  </div>
  <div class="carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/koeien%20ben.JPG?width=800&height=1000&fit=crop&auto=format"
      alt="Koeien, Ben"
      loading="lazy"
      decoding="async"
    />
    <p>© Ben</p>
  </div>
  <div class="carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/tafel%20gedekt%20Lyhn%20.JPG?width=800&height=1000&fit=crop&auto=format"
      alt="Tafel gedekt, Lyhn"
      loading="lazy"
      decoding="async"
    />
    <p>© Lyhn</p>
  </div>
</div>
