<div class="carousel mt-6 md:mt-12">
  <div class="carousel__img">
    <img
      src="https://ucarecdn.com/af1d38e3-92ff-4fad-bb32-0c5543fc72d1/-/scale_crop/800x1000/smart/"
      alt="LEGS IN THE WATER"
    />
    <p>© Sergio Spadon</p>
  </div>
  <div class="carousel__img">
    <img
      src="https://ucarecdn.com/064eb3d1-5df7-4f37-833a-541d5d80e699/-/scale_crop/800x1000/smart/"
      alt="LEGS IN THE WATER"
    />
    <p>© Sergio Spadon</p>
  </div>
  <div class="carousel__img">
    <img
      src="https://ucarecdn.com/69eb484f-893c-4656-9a7a-b013f917f793/-/scale_crop/800x1000/smart/"
      alt="LEGS IN THE WATER"
    />
    <p>© Irma Blonk</p>
  </div>
</div>
