<div class="paspartout paspartout--moon">
    <img src="{{ site.baseurl }}/assets/images/heartbar3.gif" alt class="gif-1">
    <img src="{{ site.baseurl }}/assets/images/fairygrntwnk.gif" alt
        class="gif-2">
    <img src="{{ site.baseurl }}/assets/images/tn_wowjohn.jpg" alt
        class="gif-3">
    <img src="{{ site.baseurl }}/assets/images/fairyprincessani.gif" alt
        class="gif-4">
    <img src="{{ site.baseurl }}/assets/images/heart.gif" alt class="gif-5">
    <img src="{{ site.baseurl }}/assets/images/chickendance.gif" alt
        class="gif-6">
    <img src="{{ site.baseurl }}/assets/images/daisy.gif" alt class="gif-7">
    <img src="{{ site.baseurl }}/assets/images/mexicoflag.gif" alt
        class="gif-8">
    <img src="{{ site.baseurl }}/assets/images/butterflyglitter.gif" alt
        class="gif-9">
    <img src="{{ site.baseurl }}/assets/images/dollglitter.gif" alt
        class="gif-10">
    <img src="{{ site.baseurl }}/assets/images/rosesredandyellowglitter.gif" alt
        class="gif-11">
    <img
        src="https://ucarecdn.com/10f170e4-eec7-4a2b-adb8-1d964bcbed0f/-/scale_crop/1024x1200/smart/top"
        alt="LEGS IN THE WATER" />
    <h1 class="moon-overlay">ANNEMOON BEDANKT VOOR ALLES! JE BENT ALTIJD WEER
        WELKOM ❤️❤️❤️</h1>
</div>
<p> © DAVID WEEL</p>
