<div class="carousel">
  <div class="carousel__img">
    <img
      src="https://ucarecdn.com/78ff44b9-3db7-4ed3-8a56-6192c687d6a4/-/scale_crop/800x1000/smart/"
      alt="LEGS IN THE WATER"
    />
  </div>
  <div class="carousel__img">
    <img
      src="https://ucarecdn.com/35536d4c-631b-4de7-9fc3-5c55ae6949b0/-/scale_crop/800x1000/smart/"
      alt="LEGS IN THE WATER"
    />
  </div>
  <div class="carousel__img">
    <img
      src="https://ucarecdn.com/64d11b95-4eb6-4591-be0b-629871d2622c/-/scale_crop/800x1000/smart/"
      alt="LEGS IN THE WATER"
    />
  </div>
</div>
