<div class="carousel">
  <div class="carousel__img">
    <img
      src="https://2g2n5bm2qy.ucarecd.net/00a26690-899d-4699-b876-db1f5c57d172/-/scale_crop/800x1000/smart/"
      alt="LEGS IN THE WATER"
    />
    <p>© Noa</p>
  </div>
  <div class="carousel__img">
    <img
      src="https://2g2n5bm2qy.ucarecd.net/61354a87-70a9-4175-aaa2-857b142435d9/-/scale_crop/800x1000/smart/"
      alt="LEGS IN THE WATER"
    />
    <p>© Ben</p>
  </div>
  <div class="carousel__img">
    <img
      src="https://2g2n5bm2qy.ucarecd.net/5e6ea87d-2483-4fc5-b84c-5193d44c5655/-/scale_crop/800x1000/smart/"
      alt="LEGS IN THE WATER"
    />
    <p>© Ruben</p>
  </div>
</div>
