<div class="carousel mt-6 md:mt-12">
  <div class="carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/afwasstage%20ben.JPG?width=800&height=1000&fit=crop&auto=format"
      alt="Afwasstage, Ben"
    />
    <p>© Ben</p>
  </div>
  <div class="carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/meer%20BBB%20Ben.JPG?width=800&height=1000&fit=crop&auto=format"
      alt="BBB, Ben"
    />
    <p>© Ben</p>
  </div>
  <div class="carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/DJ%20stijger%20floris%20rieke.jpg?width=800&height=1000&fit=crop&auto=format"
      alt="DJ stijger Floris, Rieke"
    />
    <p>© Rieke</p>
  </div>
</div>
