<div class="carousel">
  <div class="carousel__img">
    <img
      src="https://2g2n5bm2qy.ucarecd.net/8110fa3f-63e7-4cc3-a625-d9bb6ad3b6fd/-/scale_crop/180x300/smart/"
      alt="Floris"
    />
  </div>
  <div class="carousel__img">
    <img
      src="https://2g2n5bm2qy.ucarecd.net/ec80478f-74b4-438a-9b69-205dbbb7b9a8/-/scale_crop/180x300/smart/"
      alt="Sen"
    />
  </div>
  <div class="carousel__img">
    <img
      src="https://2g2n5bm2qy.ucarecd.net/eaa36970-6597-4d66-8ff7-f305804bd81e/-/scale_crop/180x300/smart/"
      alt="Quincy"
    />
  </div>
  <div class="carousel__img">
    <img
      src="https://2g2n5bm2qy.ucarecd.net/8d113748-dd99-46c9-9652-28d4b71fea4f/-/scale_crop/180x300/smart/"
      alt="Bram"
    />
  </div>
  <div class="carousel__img">
    <img
      src="https://2g2n5bm2qy.ucarecd.net/d7b4ff1f-1277-4de4-9426-36ac8241fa24/-/scale_crop/180x300/smart/"
      alt="Jip"
    />
  </div>
</div>


