
<div class="carousel">
  <div class="carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/kunsthuisje%20Ben.JPG?width=800&height=1000&fit=crop&auto=format"
      alt="Kunsthuisje, Ben"
      loading="lazy"
      decoding="async"
    />
    <p>© Ben</p>
  </div>
  <div class="carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/dansen%20kaboutermuts%20anouk.JPG?width=800&height=1000&fit=crop&auto=format"
      alt="dansen kaboutermuts Anouk"
      loading="lazy"
      decoding="async"
    />
    <p>© Anouk</p>
  </div>
  <div class="carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/DansDansDans%20anouk.JPG?width=800&height=1000&fit=crop&auto=format"
      alt="dansdansdans Anouk"
      loading="lazy"
      decoding="async"
    />
    <p>© Anouk</p>
  </div>
</div>
