<div class="smoel-carousel">
  <div class="smoel-carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/bijgesneden%205-4/Floris.JPG"
      alt="Floris"
      loading="lazy"
      decoding="async"
    />
    <p>Floris - Organisatie festival</p>
  </div>

  <div class="smoel-carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/bijgesneden%205-4/Sen.JPG"
      alt="Sen"
      loading="lazy"
      decoding="async"
    />
    <p>Sen - Organisatie festival</p>
  </div>

  <div class="smoel-carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/bijgesneden%205-4/Quincy.JPG"
      alt="Quincy"
      loading="lazy"
      decoding="async"
    />
    <p>Quincy - Organisatie festival</p>
  </div>

  <div class="smoel-carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/bijgesneden%205-4/Bram.JPG"
      alt="Bram"
      loading="lazy"
      decoding="async"
    />
    <p>Bram - Organisatie festival</p>
  </div>

  <div class="smoel-carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/bijgesneden%205-4/Jip.JPG"
      alt="Jip"
      loading="lazy"
      decoding="async"
    />
    <p>Jip - Organisatie festival</p>
  </div>

  <div class="smoel-carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/bijgesneden%205-4/Ruerd.JPG"
      alt="Ruerd"
      loading="lazy"
      decoding="async"
    />
    <p>Ruerd - Website & organisatie festival</p>
  </div>

  <div class="smoel-carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/bijgesneden%205-4/Ruben.JPG"
      alt="Ruben"
      loading="lazy"
      decoding="async"
    />
    <p>Ruben - Vrijwilligers coördinator</p>
  </div>

  <div class="smoel-carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/bijgesneden%205-4/Tom.JPG"
      alt="Tom"
      loading="lazy"
      decoding="async"
    />
    <p>Tom - Founding father, met pensioen</p>
  </div>

  <div class="smoel-carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/bijgesneden%205-4/sophie%20lars.jpg"
      alt="Lars & Sophie"
      loading="lazy"
      decoding="async"
    />
    <p>Lars & Sophie - Barhoofden</p>
  </div>

  <div class="smoel-carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/bijgesneden%205-4/Yorke.jpg"
      alt="Yorke"
      loading="lazy"
      decoding="async"
    />
    <p>Yorke - Chefkok</p>
 </div>

  <div class="smoel-carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/bijgesneden%205-4/lau.jpg"
      alt="Lau"
      loading="lazy"
      decoding="async"
    />
    <p>Lau - Chefkok</p>
     </div>

  <div class="smoel-carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/bijgesneden%205-4/Eelke.jpg"
      alt="Eelke"
      loading="lazy"
      decoding="async"
    />
    <p>Eelke - Chefkok</p>
    </div>

     <div class="smoel-carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/bijgesneden%205-4/Merel.JPG"
      alt="Merel"
      loading="lazy"
      decoding="async"
    />
    <p>Merel - Chef/ Rituelen</p>
    </div>

  <div class="smoel-carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/bijgesneden%205-4/Sander.JPG"
      alt="Sander"
      loading="lazy"
      decoding="async"
    />
    <p>Sander - Techniek</p>
    </div>

  <div class="smoel-carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/bijgesneden%205-4/Jer%20polaroid.JPG"
      alt="Jer"
      loading="lazy"
      decoding="async"
    />
    <p>Jer - Techniek</p>
    </div>

  <div class="smoel-carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/bijgesneden%205-4/Sophie.JPG"
      alt="Sophie"
      loading="lazy"
      decoding="async"
    />
    <p>Sophie - Activiteiten planning</p>
  </div>
             
  <div class="smoel-carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/bijgesneden%205-4/Morris.JPG"
      alt="Morris"
      loading="lazy"
      decoding="async"
    />
    <p>Morris - Activiteiten planning</p>
  </div>

  <div class="smoel-carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/bijgesneden%205-4/Huib.JPG"
      alt="Huib"
      loading="lazy"
      decoding="async"
    />
    <p>Huib - Activiteiten planning</p>
  </div>

  <div class="smoel-carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/bijgesneden%205-4/Irma.JPG"
      alt="Irma"
      loading="lazy"
      decoding="async"
    />
    <p>Irma - Coordinatie DJ's</p>
  </div>
</div>


