<div class="carousel carousel--three">
  <div class="carousel__img">
    <img
      src="https://2g2n5bm2qy.ucarecd.net/6f47743a-fe0c-4d8e-a7a9-4b5c1f7b8e72/-/scale_crop/800x1000/smart/"
      alt=""
    />
    <p>© Ben</p>
  </div>
  <div>
    <img
      src="https://2g2n5bm2qy.ucarecd.net/6ba0b5ca-519e-4cbd-a47a-9aca18df5f71/-/scale_crop/800x1000/smart/"
      alt=""
    />
    <p>© Anouk</p>
  </div>
  <div class="carousel__img">
    <img
      src="https://2g2n5bm2qy.ucarecd.net/07330ae0-774b-4d4a-9ba5-6e4956328469/-/scale_crop/800x1000/smart/"
      alt="LEGS IN THE WATER"
    />
    <p>© Lau</p>
  </div>
</div>
