<div class="carousel">
  <div class="carousel__img">
    <img
      src="https://2g2n5bm2qy.ucarecd.net/8110fa3f-63e7-4cc3-a625-d9bb6ad3b6fd/-/scale_crop/180x300/smart/"
      alt="Floris"
    />
      <p>Floris - Organisatie festival</p>
  </div>
  <div class="carousel__img">
    <img
      src="https://2g2n5bm2qy.ucarecd.net/ec80478f-74b4-438a-9b69-205dbbb7b9a8/-/scale_crop/180x300/smart/"
      alt="Sen"
    />
      <p>Sen - Organisatie festival</p>
  </div>
  <div class="carousel__img">
    <img
      src="https://2g2n5bm2qy.ucarecd.net/eaa36970-6597-4d66-8ff7-f305804bd81e/-/scale_crop/180x300/smart/"
      alt="Quincy"
    />
      <p>Quincy - Organisatie festival</p>
  </div>
  <div class="carousel__img">
    <img
      src="https://2g2n5bm2qy.ucarecd.net/8d113748-dd99-46c9-9652-28d4b71fea4f/-/scale_crop/180x300/smart/"
      alt="Bram"
    />
      <p>Bram - Organisatie festival</p>
  </div>
  <div class="carousel__img">
    <img
      src="https://2g2n5bm2qy.ucarecd.net/d7b4ff1f-1277-4de4-9426-36ac8241fa24/-/scale_crop/180x300/smart/"
      alt="Jip"
    />
      <p>Jip - Organisatie festival</p>
    </div>
  <div class="carousel__img">
    <img
      src="https://2g2n5bm2qy.ucarecd.net/833a5d6d-1ebd-4434-b475-b0e49e893164/-/scale_crop/180x300/smart/"
      alt="Ruerd"
      />
        <p>Ruerd - Website & organisatie festival</p>
 </div>
  <div class="carousel__img">
    <img
      src="https://2g2n5bm2qy.ucarecd.net/8e7857ca-dbd6-4e71-af18-361bd81dac68/-/scale_crop/180x300/smart/"
      alt="Ruben"
    />
      <p>Ruben - Vrijwilligers coördinator</p>
  </div>
<div class="carousel__img">
    <img
      src="https://2g2n5bm2qy.ucarecd.net/33734ef3-b57e-40c1-a660-6c7b141889b5/-/scale_crop/180x300/smart/"
      alt="Tom"
    />
      <p>Tom - Founding father, met pensioen</p>

</div>


