<div class="carousel carousel--three">
  <div class="carousel__img">
    <img
      src="https://ucarecdn.com/22b48e38-afb2-4dba-9ad3-3c6d475c0425/-/scale_crop/800x1000/smart/"
      alt=""
    />
    <p>© Romy van Kessel</p>
  </div>
  <div>
    <img
      src="https://ucarecdn.com/7b6552c2-f96a-4b2c-8df7-5d832e0512c8/-/scale_crop/800x1000/smart/"
      alt=""
    />
    <p>© Irma Blonk</p>
  </div>
  <div class="carousel__img">
    <img
      src="https://ucarecdn.com/aa61a166-bf39-437a-b7fe-81fb434129e3/-/scale_crop/800x1000/smart/"
      alt="LEGS IN THE WATER"
    />
    <p>© Sergio Spadon</p>
  </div>
</div>
