<div class="carousel carousel--three">
  <div>
    <img
      src="https://2g2n5bm2qy.ucarecd.net/d74be225-bfb1-449d-9fcd-1b787eea0d25/-/scale_crop/800x1000/smart/"
      alt="LEGS IN THE WATER"
    />
    <p>© Ben</p>
  </div>
  <div>
    <img
      src="https://2g2n5bm2qy.ucarecd.net/7996112a-9027-462d-8b50-8de653fc12f0/-/scale_crop/800x1000/smart/"
      alt="LEGS IN THE WATER"
    />
  </div>
  <div>
    <img
      src="https://2g2n5bm2qy.ucarecd.net/078807e7-0f79-4328-8740-4f606f767a04/-/scale_crop/800x1000/smart/"
      alt="LEGS IN THE WATER"
    />
  </div>
</div>
