<div class="carousel">
  <div class="carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/Bommetje%20nacht%20Noa.jpg?width=800&height=1000&fit=crop&auto=format"
      alt="Bommetje, Noa"
    />
    <p>© Noa</p>
  </div>
  <div class="carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/meer%20zwemmen%20ben.JPG?width=800&height=1000&fit=crop&auto=format"
      alt="Meer zwemmen, Ben"
    />
    <p>© Ben</p>
  </div>
  <div class="carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/vogel%20tekeningen%20Ruben.jpg?width=800&height=1000&fit=crop&auto=format"
      alt="Vogeltekeningen, Ruben"
    />
    <p>© Ruben</p>
  </div>
</div>
