<div class="carousel carousel--two">
  <div class="carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/afwasstage%20ben.JPG?width=800&height=1000&fit=crop&auto=format"
      alt="Afwasstage, Ben"
      loading="lazy"
      decoding="async"
    />
  
    <p>© Ben</p>
  </div>

  <div class="carousel__img">
    <img
      src="https://EMJ-website.b-cdn.net/Kapper%20en%20koe%20Simone.JPG?width=800&height=1000&fit=crop&auto=format"
      alt="kapper Simone"
      loading="lazy"
      decoding="async"
    />
    <p>© Simone</p>
  </div>
</div>
