<div class="carousel mt-6 md:mt-12">
  <div class="carousel__img">
    <img
      src="https://2g2n5bm2qy.ucarecd.net/078807e7-0f79-4328-8740-4f606f767a04/-/scale_crop/800x1000/smart/"
      alt="LEGS IN THE WATER"
    />
    <p>© Ben</p>
  </div>
  <div class="carousel__img">
    <img
      src="https://2g2n5bm2qy.ucarecd.net/e9a79e27-3ac8-446f-82c1-0712509e77b5/-/scale_crop/800x1000/smart/"
      alt="LEGS IN THE WATER"
    />
    <p>© Ben</p>
  </div>
  <div class="carousel__img">
    <img
      src="https://2g2n5bm2qy.ucarecd.net/347697f9-85ed-432a-970c-ca6a13c2dcf7/-/scale_crop/800x1000/smart/"
      alt="LEGS IN THE WATER"
    />
    <p>© Rieke</p>
  </div>
</div>
