<div class="carousel carousel--three">
  <div>
    <img
      src="https://ucarecdn.com/47532200-0dd5-4067-8995-f12b73771453/-/scale_crop/800x1000/smart/"
      alt="LEGS IN THE WATER"
    />
    <p>© Romy</p>
  </div>
  <div>
    <img
      src="https://ucarecdn.com/0648cc16-384f-433e-a601-1dde0edbfa51/-/scale_crop/800x1000/smart/"
      alt="LEGS IN THE WATER"
    />
    <p>© Elise</p>
  </div>
  <div>
    <img
      src="https://ucarecdn.com/db88b98b-8f7a-4a13-9b48-f2e017a2d637/-/scale_crop/800x1000/smart/"
      alt="LEGS IN THE WATER"
    />
    <p>© Romy</p>
  </div>
</div>
