<a id="cocreatief"><h2 class="pt-20 text-3xl">Co-creatief</h2></a>
<p>
  Eau Mont Jardin is gebouwd op co-creatie. We creëren het festival met en voor
  elkaar en bouwen zo elk jaar even een kleine community waarin iedereen er voor
  elkaar is. We bieden de ruimte voor iedereen om bij te dragen waar die zich
  prettig bij voelt en stimuleren hierin te experimenteren en buiten
  comfortzones te treden.
</p>
<p>Je kunt bijvoorbeeld bijdragen in de vorm van:</p>
<ul class="mb-5 ml-9 mt-3 list-disc">
  <li>Het organiseren van een workshop, spel of activiteit.</li>
  <li>
    Optreden (op het podium, bij het kampvuur of ergens anders op het terrein).
  </li>
  <li>Helpen met het opbouwen, afbouwen en aankleden van het terrein.</li>
  <li>
    Het vervullen van een van de organisatorische of voorbereidende rollen.
  </li>
  <li>
    Specifieke rollen op het festival zoals Parkeerbeheer, Kamp Keizer of
    Geluidstechnicus.
  </li>
  <li>
    Je eigen bijdrage op de manier die voor jou prettig is: neem vooral
    initiatief, wees spontaan, werk samen en wees co-creatief.
  </li>
</ul>
<p>
  Tijdens het weekend verwachten we van iedereen een stukje verantwoordelijkheid
  bij het helpen koken, afwassen, netjes houden van het terrein en andere
  praktische taken. Of je nu met je band komt spelen of voorzitter bent,
  iedereen draagt diens steentje bij. Dit zorgt er niet alleen voor dat het
  allemaal netjes, schoon en overzichtelijk blijft, maar het bevordert ook de
  sfeer en de samenhang.
</p>
