<a id="cocreatief"><h2 class="pt-20 text-3xl">Co-creatief</h2></a>
<p>
  Eau Mont Jardin is gebouwd op co-creatie. We creëren het festival met en voor elkaar en bouwen zo elk jaar even een kleine community. Er is ruimte voor iedereen om bij te dragen en we willen stimuleren te experimenteren en buiten comfortzones te treden.
</p>
<br />
<p>Je kunt bijvoorbeeld bijdragen in de vorm van:</p>
<ul class="mb-5 ml-9 mt-3 list-disc">
  <li>Het organiseren van een workshop, spel of activiteit.</li>
  <li>
    Performance, maak muziek, theater, poezie het staat je vrij op een van de podia en daarbuiten.
  </li>
  <li>Helpen met het opbouwen, afbouwen voor de klussers</li>
  <li>
    Helpen in de keuken met snijwerk, eindelijk je EHBO-certificaat benuttigen of de poepemmers legen van de composttoiletten.
  </li>
  <li>
    Je eigen bijdrage op de manier die voor jou prettig is: neem vooral initiatief, wees spontaan, werk samen en wees co-creatief
  </li>
</ul>
<p>
  Tijdens het weekend verwachten we van iedereen een stukje verantwoordelijkheid bij het helpen koken, afwassen, netjes houden van het terrein en andere praktische taken. Of je nu met je band komt spelen of afwasser bent, iedereen draagt diens steentje bij. Dit zorgt er niet alleen voor dat het allemaal netjes, schoon en overzichtelijk blijft, maar het bevordert ook de sfeer en de samenhang.
</p>
