<a id="eten-en-drinken"><h2 class="pt-20 text-3xl">Voedselprogramma</h2></a>
<p>
De ticketprijs is all-inclusive! Je betaald met je ticket ook voor je eten en drinken! Dus geen gedoe met muntjes of geld. Je kan zoveel drinken en eten als je wil (of zolang de voorraad strekt). 
</p>
<br />
<p>
  Het keukenteam zorgt voor drie veganistische maaltijden per dag. Daarnaast opent het barteam vanaf 16u elke dag de bar. Hij kun je snacks vinden, maar ook limonades, bier, wijn en Franse cider! 
</p>
<br />
<p>
 Heb jij een bijzonder dieet, of belangrijke allergien die het keukenteam moet weten, laat het z.s.m. aan ons weten. Je mag uiteraard ook je eigen snacks, etenswaar of drank meenemen. 
  <a href="mailto:eaumontjardin@gmail.com">eaumontjardin@gmail.com</a>.
</p>

<quote class="mb-2 mt-12 text-lg">
  “Kom dit jaar weer een koud drankje drinken op de BBB buitenboordbar! Cider
  jij dat zitte?“<br />
  — Ruerd Heemskerk
</quote>
