<a id="eten-en-drinken"><h2 class="pt-20 text-3xl">Eten & drinken</h2></a>
<p>
  Wij verzorgen voldoende wijn en bier, drinkwater, thee, koffie en frisdranken.
  Wij zorgen ook voor ontbijt, lunch en diner (lunch vrijdag tot en met ontbijt
  maandag).
</p>
<p>
  Het gehele festival is veganistisch. Ook proberen wij de hoeveelheid afval
  zoveel mogelijk te beperken.
</p>
<p>
  Belangrijk! Als je andere specifieke wensen hebt door een allergie of
  intolerantie, laat het zo snel mogelijk weten door te mailen naar
  <a href="mailto:eaumontjardin@gmail.com">eaumontjardin@gmail.com</a>.
</p>

<quote class="mb-12 mt-12 text-lg">
  “Kom dit jaar weer een koud drankje drinken op de BBB buitenboordbar! Cider
  jij dat zitte?“<br />
  — Ruerd Heemskerk
</quote>
