<p class="intro">
  <img
    class="drop-cap"
    src="{{ site.baseurl }}/assets/images/drop-cap-i.svg"
    alt="LOGO"
  />
  n een idyllisch dal in de Franse Ardennen, tussen de koeien en bossen, ligt een prachtige kunsttuin in Omont. In dit paradijsje, gecreëerd door Hans en Sam, vindt dit jaar voor de 5e keer een co-creatief festival plaats: Eau Mont Jardin. Een feest waar we samen creeeren, koken, afwassen, dansen, zwemmen en klussen.
</p>
<br />
<p>
  Naast de idyllische tuin, hebben we ook een enorm idyllische website. Hier vind je alle informatie over het festival, onze visie, normen & waarden, praktische informatie en meer. Mocht deze info jou toch nog met vragen achterlaten, neem dan contact op met
  <a href="mailto:eaumontjardin@gmail.com ">eaumontjardin@gmail.com </a> 
</p>
