<p class="intro">
  <img
    class="drop-cap"
    src="{{ site.baseurl }}/assets/images/drop-cap-i.svg"
    alt="LOGO"
  />
  n een idyllisch dal in Omont, in de Franse Ardennen, tussen bomen en bergen,
  onder wolken en sterren, ligt een prachtige kunsttuin. In dit paradijsje,
  gecreëerd door Hans en Sam, vindt sinds 2022 jaarlijks een co-creatief
  festival plaats: Eau Mont Jardin. We creëren dit weekend samen, we koken voor
  elkaar, wassen samen af, we bedenken ideeën en geven het een plek om
  werkelijkheid te worden. We delen en worden meer.
</p>
<br />
<p>
  Naast de idyllische tuin, hebben we ook een enorm idyllische website. Hierop
  vind je allerlei informatie over ons evenement, onze visie, normen & waarden,
  praktische informatie en meer. Mocht deze info jou toch nog met vragen
  achterlaten, neem dan contact op met
  <a href="mailto:eaumontjardin@gmail.com ">eaumontjardin@gmail.com </a>of stuur
  een DM naar
  <a href="https://www.instagram.com/eau.mont.jardin/">
    instagram.com/eau.mont.jardin/ </a
  >.
</p>
