<a id="Kamperen">
  <h2 class="pt-20 text-3xl">Kamperen</h2>
</a>
<p>
 Ja lekker kamperen!
</p>
<br />
<p>
In die idylische tuin is meer dan genoeg plek voor jouw bus, camper of tentje. Tijdens de aankomst dag zullen de opbouwers in het dorp klaar staan om je de weg te wijzen. Er is een kleine landweg naar het festivalterrein, deze is alleen voor campers, voor onbeslapen auto's is er een parkeerplaats in het dorp (bij l'Hangar). Graag verzoeken we iedereen die niet in z'n auto slaapt hier te parkeren en naar de tuin te lopen. Wij pendelen heen en weer met aanhangers voor spullen! 
</p>
<br />
<p>
We maken gebruik van compost toiletten! Als je er niet bekend mee bent: in plaats van doorspoelen gooi je zaagsel over je boodschap. Neem verantwoordelijkheid voor je shit! We willen zo min mogelijk pis in de poepemmers, want dan gaat het minder snel stinken. Dus moet je alleen plassen, zoek een bosje, een boom of een daarvoor bestemde strobaal.
</p>
<br />
<p>
Er is geen douche of stromend water, wel kan je heerlijk zwemmen in het meertje. Dit meer is het drinkwater van onze koeienburen, en bovendien een belangrijke voedende factor in de flora en fauna van het dal. Het is daarom ten strengste verboden om met enige vorm van zeep of shampoo of zonnebrand te gaan badderen! Wij zorgen voor twee 1000L tanks gevuld met drinkwater, met een washandje kan je hier ook het hardnekkige van je lijf schrobben. Daarnaast zullen we een plek faciliteren voor het tandenpoetsen zodat de tandpasta niet in de natuur komt.
</p>





