<a id="kosten"><h2 class="pt-20 text-3xl">Kosten</h2></a>
<p>
  De bijdrage is zowel voor toegang tot het festival, een camping- en
  parkeerplek, eten (3 uitgebreide maaltijden per dag + snacks/fruit) drinken
  (koffie/thee/bier/wijn/fris/0.0), snacken, maar nog veel belangrijker: een
  heel weekend onbeperkt genieten! Goeie deal toch?
</p>
<p>
  In het teken van transparantie: hoewel vrijwel iedereen deze financiële
  bijdrage levert, hebben we een aantal uitzonderingen gemaakt. Deze
  uitzondering geldt voor een aantal organisatieleden die het hele jaar hard
  werken aan de realisatie van dit festival en de gehele opbouw en afbouw
  meedoen. Daarnaast zijn er een aantal locals uit het dorp die af en toe langs
  zullen komen, zij zijn ook vrijgesteld. Verder betaalt in principe iedereen
  mee, ook artiesten/performers. Mocht dit ooit anders uitvallen dan zullen wij
  hier transparant over zijn en dit duidelijk maken.
</p>
<p>
  Al het geld wat wordt verdiend met dit festival gaat terug in de organisatie
  zodat wij investeringen kunnen doen voor komende edities (denk bijvoorbeeld
  aan de legertent/lampjes/keukengerei).
</p>
