<p><div class="center-text">
<br />
<br />Wat is er nog heilig? 
<br />
<br />Wat is er nog sacraal? 
<br />
<br />Een knopje dat tot bloei komt? 
<br />De geur van daslook? </
<br />Een duik in een ijskoud meer? 
<br />Duizend jaar oude ongeroerde stenen? 
<br />
<br />De oude religies verdwijnen en hebben plaatsgemaakt voor feiten en cijfers, een aanbidding van de wetenschap die ervoor zorgt dat alles verklaard moet en kan worden. 
<br />
<br />Maar waar gaan wij als mensen nog voor op onze knieën? 
<br />
<br />Waar laten we ruimte voor het niet weten, 
<br />het onverklaarbare onverklaarbaar laten. 
<br />
<br />Misschien is het tijd om opnieuw te gaan geloven in de natuur, in de rivieren, in de stenen en in de bomen. Misschien wordt het tijd voor een hernieuwd animisme. 
<br />
<br />Waarbij we stiekem op onze knieën gaan om klavertjes vier te zoeken. Die grote eik even omhelzen, met open mond naar zwaluwen kijken in de avondschemer en daarna joelend wijzen naar de vallende sterren aan de hemel. 
<br />
<br />Laten we niet onze heil zoeken in techno fixes, blindelings vertrouwen op de vooruitgang van technologie en wetenschap, maar laten we het niet-weten-schap omarmen. Laat ons maar dwalen. Laat ons juist leiden door onverklaarbare intuïtie. 
<br />
<br />Weg met het oorzaak-gevolg denken, jij doet dit dus ik doe dat! Maar plaats jezelf in een web. Leer de verbanden zien tussen alles en iedereen. Zet je tentakels uit! Ruik niet alleen aan de bloeiende mooie roos, maar ruik ook aan de rottende roos. Laat je inspireren door bloemen en bijen, maar ook door schimmel en stront.
<br />
<br />Laten we vertrekken uit deze razende stilte, de wereld die continu in beweging is maar waar fundamenteel niks verandert. En laat de tijd tikken op een tempo die we kunnen bijhouden. Laten we klein beginnen met een groep van 150 enthousiastelingen. Een weekend in de natuur, de razernij achterlatend en de verstilling opzoekend. 
<br />
<br />Leer resoneren met het landschap. 
<br />Steek je vinger eens in de koeienstront.
<br />Smeer je in met klei.
<br />Laat je betoveren door het orkest van vogels.
<br />Laat je bloed koken door het eindeloze gekoekoek van de koekoek.
<br />Hou twee minuten stilte voor een afgebroken tak.
<br />Vertel elkaar verhalen. 
<br />Wordt dronken. 
<br />Dans de zolen van je voeten. 
<br />Of lig languit in het gras. 
<br />
<div class="mt-12 text-center text-lg font-semibold opacity-70 text-x1">
  — Floris Barnhoorn —


</div>
</p>



