<div class="nav">
    <div class="nav__logo">
        <img src="{{ site.baseurl }}/assets/images/logo.svg" alt="LOGO">
    </div>
    <div class="container mx-auto max-w-5xl">
        <nav>
            <a href="#cocreatief">Co-creatief</a>
            <a href="#vervoer">Vervoer</a>
            <a href="#programma">Programma</a>
            <a href="#kosten">Kosten</a>
            <a href="#eten-en-drinken">Eten & drinken</a>
            <a href="#overnachten">Overnachten</a>
            <a href="#waar">Waar</a>
            <a href="#belangrijk">Belangrijk</a>
        </nav>
        <a class="nav__tickets"
            href="https://winkel.eaumontjardin.fr/wordpress">
            <h2>INSCHRIJVEN</h2>
        </a>
    </div>
</div>
