<div class="nav">
    <div class="nav__logo">
        <img src="/assets/images/logo.svg" alt="LOGO">
    </div>
    <div class="container mx-auto max-w-5xl">
        <nav>
            <a href="#cocreatief">Co-creatief</a>
            <a href="#cocreatief">Co-creatief</a>
            <a href="#cocreatief">Co-creatief</a>
            <a href="#cocreatief">Co-creatief</a>
            <a href="#cocreatief">Co-creatief</a>
            <a href="#cocreatief">Co-creatief</a>
            <a href="#cocreatief">Co-creatief</a>
        </nav>
        <a class="nav__tickets"
            href="https://winkel.eaumontjardin.fr/wordpress">
            <h2>INSCHRIJVEN</h2>
        </a>
    </div>
</div>
