<a id="programma"><h2 class="pt-20 text-3xl">Programma</h2></a>
<p>
  Voor ons programma zijn we afhankelijk van jullie creatieve inbreng. Bij je
  inschrijving is er ruimte om jouw creatieve inbreng in te vullen, maar je kan
  natuurlijk ook altijd contact opnemen met iemand van de organisatie om je idee
  te delen.
</p>
<p>
  We willen creativiteit, samenwerken, experimenten en creëren stimuleren en
  denken graag mee aan de uitvoering van jouw creatieve inbreng. Ook is er
  tijdens het weekend zelf genoeg ruimte om daar iets te laten ontstaan en te
  presenteren.
</p>
<p>Waar je zoal aan kunt denken bij het opgeven van jouw creatieve idee:</p>
<ul class="mb-5 ml-9 mt-3 list-disc">
    <li>
      Optreden met je muzikale act (bands/solo/DJ en versterkt/akoestisch)
    </li>
    <li>
      Optreden met een performance (op het podium/terrein/in de omgeving)
    </li>
    <li>het organiseren van een activiteit/workshop</li>
    <li>Het maken of presenteren van een kunstwerk/item</li>
    <li>Alles is mogelijk, dus laat je creativiteit de vrije loop!</li>
    </ul>
  </li>
</ul>
<p>
  Mocht je met een groep willen komen (bijvoorbeeld met je
  band/collectief/act/etc.) dan mag je contact met ons opnemen zodat we dit
  vooraf kunnen bespreken.
</p>
