<a id="programma"><h2 class="pt-20 text-3xl">Programma</h2></a>
<p>
  Voor het programma zijn we afhankelijk van jullie creatieve inbreng. Bij het kopen van je ticket is er ruimte om jouw creatieve inbreng te promoten, maar je kan natuurlijk ook altijd contact opnemen met iemand van de organisatie om je idee te delen.
</p>
<br />
<p>
  Creativiteit, samenwerken, experimenten en creëren!
We denken graag mee aan de uitvoering van jouw creatieve inbreng. Ook is er tijdens het weekend genoeg ruimte om iets te laten ontstaan.
</p>
<br />
<p>Wij zijn altijd opzoek naar theater performances, muziekoptredens (bands of solo), poëzie of dansers. 
Ook zijn leuke workshops altijd welkom</p>
<!-- <ul class="mb-5 ml-9 mt-3 list-disc">
    <li>
      Optreden met je muzikale act (bands/solo/DJ en versterkt/akoestisch)
    </li>
    <li>
      Optreden met een performance (op het podium/terrein/in de omgeving)
    </li>
    <li>het organiseren van een activiteit/workshop</li>
    <li>Het maken of presenteren van een kunstwerk/item</li>
    <li>Alles is mogelijk, dus laat je creativiteit de vrije loop!</li>
    </ul>
  </li> -->
</ul>
<p>
  Ter inspiratie een greep uit de workshops van afgelopen jaren: Alles is een trommel, acrobatiek, dwalen, tafelkleden beschilderen of zintuigelijk schrijven.
</p>
