<a id="Tickets"><h2 class="pt-20 text-3xl">Tickets</h2></a>

<p>
Toegang tot het festival krijg je door vanaf 1 januari een ticket via deze website te kopen. De kosten voor het ticket zijn 250 euro met een uitwijkmogelijkheid naar beneden voor de kleine portomonee of omhoog voor degene die meer willen bijdragen.
De prijs is gebasseerd op de kosten die worden gemaakt om het festival mogelijk te maken, de tuin te onderhouden en natuurlijk onbeperkt eten, drinken en genieten. Tijdens het festival zelf zijn er geen extra kosten tenzij je iets moois bij de brocante in het dorp wilt scoren natuurlijk.

</p>
<br />
<p>
 Tickets voor de de busreis zijn 30 euro per enkele reis en deze bestel je apart in de shop.
</p>
<br />
<p>
 In het teken van transparantie: hoewel vrijwel iedereen deze financiële bijdrage levert, hebben we een aantal uitzonderingen gemaakt. Deze uitzondering geldt voor een aantal organisatieleden die het hele jaar hard werken aan de realisatie van Eau Mont Jardin. Verder betaalt iedereen mee, ook artiesten/performers. 
</p>
<br />
<p>Restiutie op gekochte tickets is niet mogelijk, doorverkopen wel. Dit dien je zelf te doen maar laat het ons wel weten.</p>
 
<!-- </BR>
<a    target="_blank"
    href="https://winkel.eaumontjardin.fr/wordpress/"
    >webshop</a> -->






