<a id="waar">
  <h2 class="pt-20 text-3xl">Waar</h2>
</a>
<p>
  <b
    >📍 Adres van het festival:
    <a href="https://maps.app.goo.gl/TPMwHkR8XnMAd1Z27"
      >Mon Jardin, l'Étang</a
    ></b
  >
</p>
<p>
  Bij het meer in het dal van Omont. Omont ligt op ongeveer 4 uur rijden van
  Utrecht en is niet te bereiken met het OV. Er zal (mits er weer genoeg animo
  is) een bus rijden (hierover later meer informatie). Het dichtstbijzijnde
  treinstation is in Poix-Terron, op 20 minuten rijden. Wellicht kan je een
  pick-up regelen vanaf daar onder alle andere bezoekers. Verder moedigen wij
  carpoolen vanaf een plek in Nederland enorm aan! Het is sowieso beter voor
  onze mooie aarde, en ook nog eens voor jullie portemonnees. Plus het is heel
  gezellig om alvast in de stemming te raken!
</p>
