<a id="waar">
  <h2 class="pt-20 text-3xl">Waar</h2>
</a>
<p>
  <b
    >📍 Adres van het festival:
    <a href="https://maps.app.goo.gl/TPMwHkR8XnMAd1Z27"
      >Mon Jardin, l'Étang</a
    ></b
  >
</p>
<p>
Dat Idyllische dal ligt op ongeveer 4 uur rijden van Utrecht en is slecht te bereiken met het OV. Wij willen carpoolen stimuleren! Er zal ook weer een bus rijden van Utrecht CS naar Omont op donderdag 6 aug en deze brengt je maandag weer terug naar Utrecht. 

Het dichtstbijzijnde treinstation is in Poix-Terron, op 20 minuten rijden. Wellicht kan je een pick-up regelen vanaf daar onder alle andere bezoekers. 

</p>
