<a id="wanneer">
  <h2 class="pt-20 text-3xl">Wanneer</h2>
</a>

</b>
</p>




<p>
  Het festival begint op donderdag 6 augustus 2026 en eidigt na het ontbijt op maandag 10 augustus 2026.
</p>
<br />
<p>
  We beginnen dit jaar een dag eerder, dit zodat we een dag meer feest hebben ter ere van ons lustrum, maar ook omdat we merkten dat afgelopen jaar iedereen op aankomstdag gaar was van de reis en tijd nodig had om te settelen. We plannen op de donderdag nog geen programma in maar de bar is wel geopend, er is vuur en lekker eten. Zo kun je rustig acclimatiseren, je tent opzetten en kennis maken met je buren om hun pomp te lenen.
</p>
<br />
<p>Vrijdag, zaterdag en zondag zullen we vullen met jullie aangebrachte workshops en performatieve uitspattingen. Zondagavond sluiten we weer met zn allen af met een eindceremonie, dus fijn als daar bij bent. Maandagochtend is er nog ontbijt en daarna wordt iedereen behalve het afbouw team vriendelijk doch dringend verzocht om weer huiswaarts te gaan.
</p>
<br />
