.action-block {
    display: flex;
    flex-direction: column-reverse;
    color: white;

    @include media-breakpoint-up(md) {
        flex-direction: row;
    }

    &__first,
    &__second {
        display: flex;
        flex-direction: column;
        background-color: $pink;
        @media only screen and (max-width: 768px) {
            width: 50%;
        }
    }

    &__first {
        padding: 2rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media-breakpoint-up(md) {
            padding: 6rem 3.5rem;
        }

        &__tag {
            font-weight: 500;
            margin-bottom: 1rem;
            @include media-breakpoint-up(md) {
                margin-bottom: 2rem;
            }
        }
        &__title {
            line-height: 1;
            font-size: 2.5rem;
            @include media-breakpoint-up(md) {
                // font-size: 2.75rem;
            }
            @include media-breakpoint-up(xl) {
                font-size: 3.5rem;
            }
            // Extra large devices (large desktops, 1200px and up)
            @media (min-width: 1300px) {
                font-size: 4.5rem;
            }
        }
        &__link {
            margin-top: 2rem;
            align-self: flex-end;
        }
    }

    .second {
    }
}
