.banner{
    position: relative;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    h1{
        font-size: 3rem;
    }
    sup{
        font-weight: bold;
        font-size: 1rem;
    }
}