.leader{
    &__heading{
        margin-bottom: 0;
        font-size: 1.5rem;
        font-weight: 500;
        @include media-breakpoint-up(lg) {
            font-size: $font-size-xl;
        }
    }
}