.nav {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $green-darker;
  color: white;
  position: fixed;
  top: 0;
  font-weight: bold;
  // font-size: 1.8rem;
  z-index: 999;
  &__logo {
    position: absolute;
    display: none;
    left: 1rem;
    top: 1rem;

    @media only screen and (min-width: $md) {
      display: flex;
    }

    img {
      width: 4rem;
      margin-left: 1rem;
      @media only screen and (min-width: $md) {
        width: 15rem;
        margin-left: 0;
      }
    }
  }

  //opmaak navigatie menu (regels voor dropdown staan buiten deze .nav block)

  .container {
  }

  // opmaak van bus tickets rechtsboven

  &__tickets {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    right: 1rem;
    height: 115px;
    width: 110px;
    top: 5rem;
    transform: rotate(9deg);
    margin-left: 0;
    // background-image: url("/assets/images/star.svg");
    background-repeat: no-repeat;
    transition: all 300ms;

    @media screen and (min-width: 600px) {
      top: 3rem;
      right: 1rem;
      height: 230px;
      width: 220px;

      h2 {
        font-size: 1.5rem;
        text-decoration: none !important;
        transition: all 300ms;
      }
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 1;
      transition: all 300ms;
    }

    h2 {
      // font-size: 1.5rem;
      text-decoration: none !important;
      transition: all 300ms;
    }

    &:hover {
      transform: rotate(-9deg);
      background: linear-gradient(in hsl longer hue 45deg, red 0 0);
      width: 440px;
      img {
        opacity: 0;
      }
      h2 {
        font-size: 3em;
      }
    }
    text-decoration: none;
    h2 {
      z-index: 999;
      text-decoration: none !important;
    }
  }

  // .container {
  //   display: flex;
  //   justify-content: flex-end;
  //   position: relative;
  //   a {
  //     margin-right: 1rem;
  //     font-size: ;
  //   }
  // }
}

//  "gele" knop in nav bak voor nieuwsbrief

.nieuwsbrief-nav-item{
  background-color: rgba(237, 187, 49, 0);
  text-decoration: none !important;
  padding: .5rem 1rem;
}

// Dropdown: kleinere tekst dan de hoofd-items in de nav
.nav .nav__drop a {
  font-size: 0.875rem !important; // ~text-sm
  line-height: 1.25rem;
  margin-right: 0;
  color: #1a1a1a !important;
}

// Voeg een vertraging toe voordat het dropdown verdwijnt
.nav .group:hover .nav__drop,
.nav .group:focus-within .nav__drop {
  display: flex;
  transition-delay: 0.5s;
}

.nav .group .nav__drop {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.nav .group:hover .nav__drop,
.nav .group:focus-within .nav__drop {
  opacity: 1;
  transition-delay: 0s;
}