.nav {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $green-darker;
  color: white;
  position: fixed;
  top: 0;
  font-weight: bold;
  z-index: 999;
  &__logo {
    position: absolute;
    display: none;
    left: 1rem;
    top: 1rem;

    @media only screen and (min-width: $md) {
      display: flex;
    }

    img {
      width: 4rem;
      margin-left: 1rem;
      @media only screen and (min-width: $md) {
        width: 15rem;
        margin-left: 0;
      }
    }
  }

  .container {
  }

  &__tickets {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    right: 0;
    height: 115px;
    width: 110px;
    top: 5rem;
    transform: rotate(9deg);
    margin-left: 0;
    // background-image: url("/assets/images/star.svg");
    background-repeat: no-repeat;
    transition: all 300ms;

    @media screen and (min-width: 600px) {
      top: 3rem;
      right: -10rem;
      height: 230px;
      width: 220px;

      h2 {
        font-size: 1.5rem;
        text-decoration: none !important;
        transition: all 300ms;
      }
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 1;
      transition: all 300ms;
    }

    h2 {
      // font-size: 1.5rem;
      text-decoration: none !important;
      transition: all 300ms;
    }

    &:hover {
      transform: rotate(-9deg);
      background: linear-gradient(in hsl longer hue 45deg, red 0 0);
      width: 440px;
      img {
        opacity: 0;
      }
      h2 {
        font-size: 3em;
      }
    }
    text-decoration: none;
    h2 {
      z-index: 999;
      text-decoration: none !important;
    }
  }

  .container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    a {
      margin-right: 1rem;
    }
  }
}

.nieuwsbrief-nav-item{
  background-color: #edbb31ff;
  text-decoration: none !important;
  padding: .5rem 1rem;
}