.nav {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $green-darker;
  color: white;
  position: fixed;
  top: 0;
  font-weight: bold;
  z-index: 999;
  &__logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  &__tickets {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    right: -10rem;
    height: 230px;
    width: 220px;
    top: 1rem;
    transform: rotate(9deg);
    margin-left: 0;
    background-image: url("/assets/images/star.svg");
    background-repeat: no-repeat;
    transition: all 300ms;
    &:hover {
      transform: rotate(-9deg);
      background: linear-gradient(in hsl longer hue 45deg, red 0 0);
      width: 440px;
      h2 {
        font-size: 3em;
      }
    }
    text-decoration: none;
    h2 {
      text-decoration: none !important;
    }
  }

  .container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    a {
      margin-left: 1rem;
    }
  }
}
