.plane {
  $self: &; // This is important.
  margin-bottom: 4rem;
  padding: 1.5rem;
  background-color: #aecbc8;
  display: flex;
  flex-direction: column;
  position: relative;
  .container {
    position: relative;
  }

  &__icon {
    margin-bottom: 2rem;
    width: 100%;
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      right: 0;
      margin-bottom: 0;
      width: auto;
    }
  }
  h2 {
    margin-bottom: 1.5rem;
  }
  a {
    color: darken(#aecbc8, 40%);
  }
  ul {
    li {
      margin-bottom: 0.75rem;
    }
  }
  &--yellow {
    background-color: lighten($yellow, 20%);
    box-shadow: 1px 1px 20px 6px darken($yellow, 30%);
    #{ $self }__sub-title {
      color: darken($yellow, 55%);
      @include media-breakpoint-up(md) {
        width: 75%;
      }
    }
    h2 {
      margin-top: 0;
      color: darken($yellow, 55%);
    }
  }
}
