$red: #8f1e22;
$green: #9ec1bd;

$greenInfo: #50ffb4;

$green-darker: #688456ff;
$green-light: #91a37cff;
$yellow: #edbb31ff;

$blue: #1e3547ff;

$grey-light: #cccccc;
$grey-dark: #888888;

$font-size-sm: 1rem;
$font-size-p: 21px;
$font-size-p-sm: 17px;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;
$font-size-xl: 3.5rem;

.bg-grey-light {
  display: flex;
  flex-direction: column;
  background-color: $grey-light;
}

.bg-grey-dark {
  display: flex;
  flex-direction: column;
  background-color: $grey-dark;
  color: white;
}

.bg-green {
  background-color: $green;
  color: $grey-dark;
}
