$red: #8f1e22;
$green: #9ec1bd;

$green-darker: #688456ff;
$green-light: rgb(166, 181, 148);
$yellow: #edbb31ff;

$blue: #1e3547ff;

$grey-light: #cccccc;
$grey-dark: #888888;

$font-size-sm: 1rem;
$font-size-p: 21px;
$font-size-p-sm: 17px;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;
$font-size-xl: 3.5rem;

$md: 768px;