.footer {
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $green-darker;
    color: white;
    top: 0;
    font-weight: bold;
    position: relative;
    margin: 15rem 0 0 0;

    &__top-image {
        width: 100%;
        position: absolute;
        top: -8rem;
        left: 0;
        height: 8rem;
        background-image: url("/assets/images/4.svg");
    }

    &__links {
        display: flex;
        flex-direction: column;
        // background-color: plum;

        @media only screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
