@forward "components";

@import "theme";
@import "fonts";
@import "quote";
@import "carousel";
@import "smoel_carousel";
@import "paspartout";
@import "nav";
@import "footer";
@import "nieuwsbrief-form";

.font-weight-bold {
  font-weight: bolder;
}

body {
  background-color: $green-light;
}

.intro{
  .drop-cap{
    float: left;
    height: 100px;
    margin-right: 6px;
    background-color: #bcc4b4;
  }
}


#mc-embedded-subscribe {
  background-color: $yellow;
  cursor: pointer;
}

p {
  font-size: $font-size-sm;
}

ul {
  li {
    font-size: $font-size-sm;
  }
}

h4 {
  font-size: 1rem;
}

a {
  color: $green-darker;
  text-decoration: underline !important;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;

  @media only screen and (min-width: $md) {
    padding-left: 0;
    padding-right: 0;
  }
}

ul {
  font-size: 1.25rem;
  li {
    margin-bottom: 0.25rem;
  }
}

.fat-bottom {
  margin-bottom: 5rem;
}

.container-sm {
  margin-bottom: 4rem;
}

.content {
  color: black;
  text-decoration: none;
}
