@use "../theme";

#mc_embed_signup_scroll {
  h2 {
    display: none;
  }
}
#mc_embed_signup {
  form {
    padding: 0 !important;
  }
  .button {
    height: 50px !important;
  }

  div#mce-responses {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;

    #mce-success-response {
      margin: 0 0 2rem !important;
      width: 100% !important;
      background-color: darken(theme.$greenInfo, 40%);
      color: white;
      padding: 1.5rem;
      font-size: 1.75rem;
    }
  }
}
.brandingLogo {
  display: none;
}

.optionalParent {
  .button {
    color: theme.$grey-dark !important;
    font-weight: bold;
  }
}

#mc-embedded-subscribe.button {
  background-color: theme.$green !important;
  font-weight: bold !important;
  padding: 0.5rem 2rem !important;
  border-radius: 0 !important;
}

.mc-field-group {
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
  label {
    font-family: "sofia-pro";
    font-weight: bold;
    font-size: theme.$font-size-sm;
    margin-bottom: 0.25rem !important;
  }
  input {
    border-radius: 0 !important;
    padding: .5rem;
  }
  input[type="checkbox"]{
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
    transform: scale(2);
  }
}
